* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Bangers", system-ui;
  text-align: center;
  vertical-align: auto;
  font-size: 2rem;
  padding: 20px 0;
}

a {
  text-decoration: inherit;
  color: #2196f3;
}

.nv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
}

.nv2 {
  background-color: lightgrey;
  background-image: url(/imgs/bn_index.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 50%;
  position: relative;
  width: 100%;
  height: 450px;
  filter: brightness(70%) contrast(105%);
  transition: filter 1s ease;
  border: solid 2px black;
}

.nv2:hover {
  filter: brightness(90%) contrast(90%);
}

main {
  padding: 20px;
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .nv2 {
    height: 350px;
  }

  h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .nv2 {
    height: 250px;
  }

  h1 {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .nv2 {
    height: 200px;
  }

  h1 {
    font-size: 1.4rem;
  }
}
@media (min-width: 1400px) {
  .nv2 {
    background-size: 60%; 
    background-position: center 50%; 
  }
}
