.container {
  background-color: #f5f5dc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid #c91e1e;
}

h1,
h2 {
  text-align: center;
  color: #333;
}

.status p {
  font-size: 18px;
  text-align: center;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

button {
  background-color: #c91e1e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.4s ease;
}

.finalizarcompra {
  background-color: #f9f9f9;
}

button:hover {
  background-color: #5391c7;
}

.checkout {
  text-align: center;
  margin-top: 10px;
  margin-bottom: -10px;
}

.checkout button {
  background-color: #c91e1e;
}

.checkout button:hover {
  background-color: #5391c7;
}

.footer.listagem {
  overflow-x: auto;
  padding: 20px 0;
  background-color: #f9f9f9;
  border: 1px solid #c91e1e;
  margin-top: 610px;
}

.footer.listagem ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: fit-content;
}

.footer.listagem li {
  margin-right: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-image: url(mercado.png);
  background-position: 0px -455px;
  background-repeat: no-repeat;
}

.fala {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px;
  text-align: center;
  margin-top: 290px;
  margin-left: 50px;
}

.fala:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #fff;
  border-bottom: 0;
  margin-left: -10px;
  border-right-color: #333;
  border-left-color: #333;
}

.posicao {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
}

.produto {
  width: 150px;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 310px;
}

.produto img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.produto h3 {
  margin-top: 10px;
  text-align: center;
  color: #333;
}

.produto button {
  margin-top: 10px;
  display: block;
  width: 100%;
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 200;
  font-style: normal;
}

.produto {
  border: 2px solid #c91e1e;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(209, 21, 8, 0.5);
  background-color: #f5f5dc;
}
.footer.listagem {
  background: green;
}

#calculadora {
  position: absolute;
  bottom: 130px;
  left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 10%);
  border-radius: 15px;
  max-width: 275px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 2rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

#keys button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

#keys button:hover {
  background-color: hsl(0, 0%, 40%);
}
#keys button:active {
  background-color: hsl(0, 0%, 50%);
}

#keys .operador-btn {
  background-color: hsl(39, 100%, 55%);
}

#keys .operador-btn:hover {
  background-color: hsl(39, 100%, 65%);
}
#keys .operador-btn:active {
  background-color: hsl(39, 100%, 75%);
}
